@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F0EFF4;
  --accent-color: #118A92;
  --secondary-color: #29393D;
  --disabled-color: #b2c2c7;
  --text-color: var(--secondary-color);
  --text-color-light: var(--primary-color);
  --text-secondary-color: #989899;

  --primary-radius: 28px;
  --secondary-radius: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--primary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  outline: none;
  user-select: none;
}